.container2 {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.movieRow:hover {
  background-color: #fff2e6;
  cursor: pointer;
}

.comment-section {
  margin-top: -10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 85px;
}

@media only screen and (max-width: 980px) {
  .comment-section {
    width: 92% !important;
  }
}

@media only screen and (max-width: 420px) {
  .comment-section {
    width: 87% !important;
  }
}

.comment-info {
  padding-left: 20px;
}

.comments {
  padding: 5px !important;
  margin: 0% !important;
  margin-bottom: 0.3% !important;
}

.comments-admin {
  padding: 5px !important;
  margin: 0% !important;
  margin-bottom: 0.3% !important;
}

.comments-admin-div :hover {
  background-color: #fff2e6;
  cursor: pointer;
}

.comments p {
  padding: 0px !important;
  margin: 0% !important;
}

.comment-form {
  width: 100%;
  max-width: 650px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
